<div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="" class="form-label">Username</label>
          <input  formControlName="username"  type="text" class="form-control" id="name" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password </label>
            <input formControlName="password"  type="password" class="form-control" id="lastname">
          </div>
       
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>